.App {
  text-align: center;
  display: flex;
  display: flex;
  flex-direction: column;     /* make main axis horizontal (default setting) */
  justify-content: center; /* center items horizontally, in this case */
  align-items: center;     /* center items vertically, in this case */
  height: 100vh;
}

.fart-btn {
  border-radius: 50%;
  background-color: #e9002b;
  border: none;
  color: white;
  padding: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.fart-btn:active {
  background-color: #b00020;
}

.fart-btn:hover {
  cursor: pointer;
}


